### Linux
*~
.directory
.Trash-*

### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

### MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### JetBrains
*.iml
*.ipr
*.iws
.idea/
/out/
.idea_modules/
atlassian-ide-plugin.xml

### Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.classpath
.buildpath
.target
.texlipse

### VSCode and VisualStudio
*.vs
*.db
*.opendb
*.user
.vscode/
.vs/
*.code-workspace
.history/

### Gradle
.gradle/
build/
target/
gradle-app.setting
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache

### Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

.env
.venv
env/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
dist/
.coverage
htmlcov/
site/