name: Code checking

on:
  push:
    branches: [ "master", "release/**" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package in dev mode
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m pip install -e ."[dev, test]"
    - name: Code style check
      run: |
        python -m pylint --load-plugins pylint_pydantic --extension-pkg-whitelist='pydantic' graphql_query
        python -m mypy graphql_query
    - name: Tests
      run: |
        python -m pytest tests/
    - name: Build package
      run: |
        python setup.py bdist_wheel